<section class="backgroundColor">

<a class="btn btn-danger btn-lg create-new-btn" href="/#/create" role="button">Create New Post</a></p>

<div ng-repeat="shark in sharks" class="row col-xs-6 col-md-4">
  <p>Date: {{shark.date}}</p>
  <p>Location: {{shark.location}}</p>
  <p>Quantity: {{shark.quantity}}</p>
  <p>Shark Species: {{shark.species}}</p>
  <p><img ng-src="{{shark.image}}" alt="" class="images" /></p>
  <button class='btn btn-md btn-success' ng-click="deleteShark(shark)" name="button">Delete</button>
</div>

</section>
